<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428964772556-ij2fs0fcv9ilm7pjd3cgnbrcpik30q0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428964772556-ij2fs0fcv9ilm7pjd3cgnbrcpik30q0j</string>
	<key>API_KEY</key>
	<string>AIzaSyA795GVeP15Da6n5Z5xYoft7nxxAfdS55Q</string>
	<key>GCM_SENDER_ID</key>
	<string>428964772556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.evoverse</string>
	<key>PROJECT_ID</key>
	<string>evoverse-a055b</string>
	<key>STORAGE_BUCKET</key>
	<string>evoverse-a055b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428964772556:ios:19d8d2fa9fd0658276e069</string>
</dict>
</plist>